@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
.header{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.img{
    position: relative;
    width: 400px;
    height: 400px;
    background: #0f0c29;    
    background: #ee9ca7;  
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7); 
    background: linear-gradient(to right, #ffdde1, #ee9ca7);  
    box-shadow: 0px 10px 112px 23px rgb(255, 132, 228);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
    pointer-events: none;
    margin-left: -15%;
}
.img img{
    position: relative;
    width: 160%;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
    margin-left: -37%;
}
.text{
    position: relative;
    justify-content: center;
    text-align: left;
}
.new-collection{
    position: relative;
    font-size: 1.5rem;
    color: wheat;
    font-family: 'Playfair Display SC', serif;
}
.lingerie{
    position: relative;
    font-size: 2.5rem;
    color: white;
    font-family: 'Playfair Display SC', serif;
    padding-bottom: 2%;
}
.link{
    position: relative;
    padding: 5px 15px;
    color: white;
    border: 2px solid rgba(245, 190, 190, 0.842);
    transition: .5s ease-in-out;
}
.link:hover{
    transition: .5s ease-in-out;
    background: rgba(245, 190, 190, 0.842);
}